<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>

<body>
    <h1>Lista de Usuarios</h1>
    <h2>Femeninos</h2>
    <ul>
        {{#each users.[0]}}
        <li>
            {{@index}}. {{first}} {{last}} - ID: {{id}} - Timestamp: {{timestamp}}
        </li>
        {{/each}}
    </ul>
    <h2>Masculinos</h2>
    <ul>
        {{#each users.[1]}}
        <li>
            {{@index}}. {{first}} {{last}} - ID: {{id}} - Timestamp: {{timestamp}}
        </li>
        {{/each}}
    </ul>
</body>

</html>